<h3>Previous Sessions</h3>
<div>
    <ul>
        <% kickSessions.forEach(function(k) { %>
        <li class="d-flex flex-col">
            <div>
                <h3><%= k.session_start %></h3> - <h3># of Kicks: <%= k.kicks.length() %></h3>
            </div>
            <div>
                <h3>Duration: <%= (k.finish_time  - k.session_start) %></h3>
            </div>
        </li>
        <% }); %>
    </ul>
    <div class="d-flex flex-row">
        Date

    </div>
</div>
