<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/login.ejs %>
    <% include ../partials/main.ejs %>
    <% include ../partials/kickSession.ejs %>
</body>
</html>
